
<!--- EDIT : data-cfasync="false" see: https://melodiouscode.net/disqus-and-cloudflare/ --->
{%- if site.disqus -%}
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript" data-cfasync="false">
        var disqus_shortname = '{{ site.disqus }}';
        /* ensure that pages with query string get the same discussion */
            var url_parts = window.location.href.split("?");
            var disqus_url = url_parts[0];
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% elsif site.formspree %}
<h3> Comments? </h3>
<form id="simpleform" action="https://getsimpleform.com/messages?form_api_token=76bb142d35a0d88349f47ad64d10dd91" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission 
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />    -->
  <!-- all your input fields here.... -->
  <input type="text" placeholder="Your name" name="name"/>
  <input type="email" placeholder="Your email" name="email"/>
  <input type="hidden" name="title" value="Contact : "{{post.title}} />
  <p>
<textarea rows="2" name="message" placeholder="Your message"></textarea>
  <input type='submit' value='Send' />
</form>
{%- endif -%}
