
<!--- EDIT : data-cfasync="false" see: https://melodiouscode.net/disqus-and-cloudflare/ --->
{%- if site.disqus -%}
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript" data-cfasync="false">
        var disqus_shortname = '{{ site.disqus }}';
        /* ensure that pages with query string get the same discussion */
            var url_parts = window.location.href.split("?");
            var disqus_url = url_parts[0];
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% elsif site.formspree %}
<h3> Comments? </h3>
<form id="contactform" action="//formspree.io/zoran.cuckovic@gmail.com" method="POST">
	<input type="text" name="name" placeholder="Your name ">
	<input type="email" name="_replyto" placeholder="Your email ">
	<input type="text" name="_gotcha" style="display:none" />
	<p>
	<textarea rows="2" name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Send">
	<input type="hidden" name="_next" value="//mywebsite.com/thanks.html" />
	<input type="hidden" name="_subject" value="Contact : "{{post.title}} />
</form>
<!-- https://webdesign.tutsplus.com/tutorials/quick-tip-add-a-formspree-form-to-your-static-sites--cms-23870 -->
{%- endif -%}
